@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
.circle{

  border-radius:100%;
}
.hero{
  height: 300px;
  width: 100%;
  backgroundImage: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero.jpg");
  backgroundSize: cover;
  backgroundPosition: center;
  display: flex;
  justifyContent: center;
  alignItems: center;
  flexDirection: column;
  color: white;
}